{% extends 'base_template.html' %}

{% block title %}
	{% if profile %}
		{{ profile.username }}
	{% else %}
		Not found
	{% endif %}
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block body %}
<div class="container">
	{% if profile is None %}
		<div class="offset-3 col-6 radius-card" style="margin-top: 100px;">
			<br>
			<h1 style="font-size: 60px;">Profile not found</h1>
			<br><br>
			<div class="offset-2 col-8">
				<input id="search-username" type="text" class="form-control" placeholder="Enter username">
				<button onclick="search('#search-username')" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	{% else %}
		<div class="row profile-area">
			<div style="width: 240px;">
				<div class="card">
					<div class="card-block">
						<img src="{% if myprofile.image_link %}{{ myprofile.image_link }}{% else %}/static/no_avatar.jpg{% endif %}" width="200" height="200">
						<br><br>
						<h3>@{{ profile.username }}</h3><br>
						{% if myprofile.description %}
							<p id="user-desc">{{ myprofile.description }}</p>
						{% endif %}
						<h4>Quacks <span class="badge badge-pill badge-default">{{ quacks }}</span></h4>
						<h4>Following <span class="badge badge-pill badge-default">{{ following }}</span></h4>
						<h4>Followers <span class="badge badge-pill badge-default">{{ followers }}</span></h4>
						{% if user.is_authenticated and profile.pk is not user.pk %}
						<form method="post">{% csrf_token %}
						{% if is_following %}
							<button class="btn btn-block btn-primary" type="submit">Stop following</button>
						{% else %}
							<button class="btn btn-block btn-outline-primary" type="submit">Follow</button>
						{% endif %}
						</form>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col">
				{% if quack_list %}
					{% for quack in quack_list %}
						<div class="offset-1 col-10 quack">
							<p><b><a href="/profile/{{ quack.quacker.username }}">@{{ quack.quacker.username }}</a></b> &#8226; <span style="font-size: 13px;">{{ quack.created_at }}</span></p>
							<p class="iterate">{{ quack.content }}</p>
						</div><br>
					{% endfor %}
				{% else %}
					<div class="offset-1 col-10 radius-card">
						<h1 style="font-size: 20px;">No quacks from @{{ profile.username }}</h1>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('.iterate').each(function() {
			var content = $(this).text();
			content = content.replace(new RegExp('\n', 'g'), ' ');

			var result = content.split(" ").filter(function(item) {
				return item.startsWith('@');
			});

			for(var i = 0; i < result.length; i++) {
				var link = '<span><a href="/profile/' + result[i].substr(1) + '">' + result[i] + '</a></span>';
				content = content.replace(new RegExp(result[i], 'g'), link);
			}

			$(this).html(content);
		});
	</script>
{% endblock %}