{% extends 'base_template.html' %}

{% block title %}Register{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block body %}
<div class="col-4 offset-4 radius-card" style="margin-top: 40px;">
	{% load widget_tweaks %}

	<h2>Register new account</h2>
	<br>
	<form method="post" action="{% url 'register' %}">{% csrf_token %}
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
						{{ error }}
					</div>
				{% endfor %}
			{% endfor %}
		{% endif %}
	    <div class="form-group">
	    	{{ form.username|add_class:"form-control"|append_attr:"placeholder:Username" }}
	        {{ form.password1|add_class:"form-control"|append_attr:"placeholder:Password" }}
	        {{ form.password2|add_class:"form-control"|append_attr:"placeholder:Repeat password" }}
	    </div>

	    <div class="form-group">
	        <input type="submit" class="btn btn-primary form-control" value="Register" />
	    </div>
	</form>
</div>
{% endblock %}